body {
  background-color: #F1F1F1;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

/* Nav Section */
.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  background-color: #C8DCDE;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.nav-list a {
  color: black;
  text-decoration: none;
}

.nav-list li {
  padding-right: 40px;
}

/* Intro Section */
.intro-section {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.intro {
  margin-bottom: 5px;
  font-size: 20px;
}

.intro-about {
  margin: 0;
  font-size: 28px;
}

/* Hero Section */
.hero {
  background-image: url("../images/final-project/watermelon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid #d6d6d6;
  height: 700px;
}

/* Article Title */
.article {
  background-color: white;
  width: 50%;
  margin: auto;
  padding: 20px;
  margin-top: 40px
}

.article-title {
  font-size: 24px;
  font-weight: bold;
}

.article img {
  width: 100%;
}

/* Media Queries */
@media only screen and (max-width: 800px) {
  .hero {
    height: 300px;
  }

  .article {
    width: 80%;
  }
}
