body {
  background-color: #f1f1f1;
  font-family: Georgia, Arial, sans-serif;
  font-size: 18px;
  margin: 0;
}

/* Intro Section */

.split-layout-container {
  display: flex;
  height: 100vh;
}

.split-layout-media {
  width: 50%;
}

.split-layout-media img {
  height: 100vh;
  object-fit: cover;
  width: 100%;
}

.split-layout-content {
  background-color: #828170;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.intro {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 500px;
  padding: 0 50px;
}

/* Nav Section */

.navigation {
  padding-top: 40px;
  padding-bottom: 20px;
}

.navigation-list {
  display: flex;
  list-style-type: none;
  flex-direction: row-reverse;
}

.navigation a {
  color: white;
  text-decoration: none;
}

.navigation li {
  padding-right: 60px;
}

/* Article Title */
.article {
  background-color: white;
  width: 50%;
  margin: auto;
  padding: 20px;
  margin-top: 40px;
}

.article-title {
  font-size: 24px;
  font-weight: bold;
}

.article img {
  width: 100%;
}

/* Media Queries */
@media only screen and (max-width: 60em) {
  .split-layout-container {
    height: 500px;
  }

  .split-layout-media {
    display: none;
  }

  .split-layout-content {
    background-color: #828170;
    height: 500px;
    width: 100%;
  }

  .article {
    width: 80%;
  }
}
